@model HomeViewModel
@{
    int availableBooks = Model.BookCount - Model.LendBookCount;
}

<h1>Library management dashboard</h1>

<div class="row">

    @for (int i = 0; i < 3; i++)
    {
        <div class="col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    Customers Count
                </div>
                <div class="panel-body">
                    @if (i == 0)
                    {
                        <span>There are @Model.CustomerCount customers</span>
                    }
                    else if (i == 1)
                    {
                        <span>There are @Model.AuthorCount authors</span>
                    }
                    else if (i == 2)
                    {
                        <span>There are @availableBooks books available out of @Model.BookCount</span>
                    }
                </div>
            </div>
        </div>
    }


</div>